@use '../../../../styles/settings.scss' as settings;

.blog_articles {
  padding: 100px 0;
  max-width: 920px;
  margin: 0 auto;

  h2 {
    font-size: 1.8rem;
    margin: 50px 0 30px;
  }

  a {
    color: settings.$color-primary;
    text-decoration: none;
  }

  p {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }

  .blog_image {
    display: flex;
    flex-direction: row;
    align-items: center;

    .text {
      flex: 2;
    }

    .image {
      flex: 1;
      margin-left: 40px;
    }
  }
}

@media (max-width: 768px) {
  .blog_articles {
    .blog_image {
      flex-direction: column;

      .text {
        margin-bottom: 20px;
      }

      .image {
        margin-bottom: 40px;
        margin-left: 0;
      }
    }
  }
}
