@use '../../../../styles/settings.scss' as settings;

.portfolio {
  .wrapper {
    .portfolio_item {
      flex: 45%;

      .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: settings.$transition_0_3;
        text-align: center;
        padding: 20px 30px;
        border-radius: 20px;
      }

      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }

    .title_box {
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .portfolio {
    .wrapper {
      flex-wrap: wrap;
      justify-content: space-evenly;
      row-gap: 30px;
    }
  }
}

@media (max-width: 1023px) {
  .portfolio {
    .wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  .portfolio {
    padding: 100px 0;

    .wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}
