@use '../../../../styles/settings.scss' as settings;

.portfolio {
  padding: 150px 0;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;

    .portfolio_item {
      flex: calc(50% - 100px);
      position: relative;

      .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: settings.$transition_0_3;
        text-align: center;
        padding: 20px 30px;
        border-radius: 20px;

        h3 {
          font-size: 1.6rem;
          font-weight: settings.$font-weight-extrabold;
          margin-bottom: 1rem;
          color: settings.$color-text-primary;
        }

        p {
          margin-bottom: 1rem;
          color: settings.$color-text-light;
        }

        .button {
          color: settings.$color-text-light;
          text-transform: uppercase;

          &:hover {
            color: settings.$color-primary;
          }
        }
      }

      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }

    .title_box {
      margin: 25px 25px;
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .portfolio {
    .wrapper {
      flex-wrap: wrap;
      justify-content: space-evenly;
      row-gap: 30px;
    }
  }
}

@media (max-width: 768px) {
  .portfolio {
    padding: 100px 0;

    .wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}
