@use '../../styles/settings.scss' as settings;

.scroll_to_price_button {
  position: fixed;
  bottom: 85px;
  right: 15px;
  border: 0;
  background-color: unset;
  z-index: 1000;

  &:hover::after {
    content: 'przejdź do ceny';
    position: absolute;
    top: -10%;
    left: -127%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    color: settings.$color-primary;
    background-color: settings.$color-background-light;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: settings.$transition_0_3;
  }

  svg {
    width: 50px;
    height: 50px;
    fill: settings.$color-primary;
    border: 1px solid settings.$color-background-dark;
    border-radius: 50%;
    background-color: settings.$color-background-dark;
    transition: settings.$transition_0_3;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 768px) {
  .scroll_to_price_button {
    bottom: 60px;
    right: 10px;

    svg {
      width: 40px;
      height: 40px;
    }
  }
}
