.tooltip-inner {
  background-color: #191d28;
}

.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #191d28 !important;
}

.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #191d28 !important;
}
