@import '../../styles/settings.scss';

.RescentArticles {
  min-height: 700px;
  padding: 100px 0;
  background-color: $color-background-lighter;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .article_list {
    .wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
}
