@use '../../../../styles/settings.scss' as settings;

.testiniomals {
  background-image: image-set(
    url('/images/tlo-opinie.avif') type('image/avif'),
    url('/images/tlo-opinie.webp') type('image/webp')
  );
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0 150px;
  margin: 50px 0 0;

  .title {
    display: flex;
  }

  .wrapper {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-end;

    .testimonial {
      max-width: 600px;
      margin: 10px 0;
      border-top: 2px solid settings.$color-background-lighter;

      .testimonial_stars {
        color: settings.$color-primary;
        padding-top: 20px;
      }

      .testimonial_text {
        color: settings.$color-text-light;
        margin: 20px 0;

        p:nth-child(2) {
          font-size: 0.8rem;
        }

        a {
          color: settings.$color-primary;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .testiniomals {
    background-attachment: scroll;

    .title {
      justify-content: center;
    }

    .wrapper {
      align-items: center;
      max-width: unset;
    }
  }
}

@media (max-width: 768px) {
  .testiniomals {
    background-image: image-set(
      url('/images/tlo-opinie-mobile.avif') type('image/avif'),
      url('/images/tlo-opinie-mobile.webp') type('image/webp')
    );
    padding: 50px 20px;
    margin: 0;
  }
}
