@use '../../../../styles/settings.scss' as settings;

.prices {
  background-color: settings.$color-background-dark;
  color: settings.$color-text-light;
  padding: 200px 0;
  margin-bottom: 250px;
  position: relative;

  .bi_dash {
    color: settings.$color-text-danger;
  }

  .bi_check {
    color: settings.$color-text-success;
  }

  .wrapper {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 80px;

      .descryption {
        flex: 2;
        padding: 20px;
        margin-right: 40px;

        h3 {
          font-size: 1.8rem;
          margin-bottom: 20px;
          color: settings.$color-text-primary;
        }
      }

      .price_box {
        flex: 1;
        padding: 20px 40px;
        background-color: settings.$color-background-light;
        color: settings.$color-text-dark;

        .price {
          text-align: center;
          margin-bottom: 40px;

          h3 {
            font-size: 1.8rem;
            margin-bottom: 10px;
            font-weight: settings.$font-weight-bold;
          }

          p {
            font-size: 1.4rem;
            margin-bottom: 10px;
          }

          h4 {
            font-size: 1.5rem;

            span {
              font-size: 2.2rem;
              color: settings.$color-text-primary;
              font-weight: settings.$font-weight-bold;
            }
          }
        }

        .last_price {
          margin-top: 80px;
        }

        .list {
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;

          ul {
            list-style: none;
            padding: 0;

            li {
              margin-bottom: 10px;
              display: flex;

              svg {
                font-size: 1.5rem;
                flex: 10%;
              }

              & > p {
                flex: 90%;
              }

              &:last-child {
                margin-bottom: 40px;
              }
            }
          }

          & > a {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .prices {
    .wrapper {
      .row {
        flex-direction: column;
        padding: 0 20px;

        .descryption {
          margin-right: 0;
        }
      }
    }
  }
}
