@import '../../styles/settings.scss';

.myServicesThumbs {
  background-color: $color-background-dark;
  margin: 150px 0;
  padding: 4rem 0;

  .tabswrapper {
    button {
      background-color: $color-background-light;
      border-radius: 20px;
      color: $color-text-dark;
      height: 100%;
      font-size: 1.1rem;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      padding: 10px;
    }
  }
}
