@use '../../../../styles/settings.scss' as settings;

.my_stack {
  .wrapper {
    background-color: settings.$color-background-dark;
    padding: 100px 40px;
    margin-top: -150px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url('/images/kropki_512-512.webp');
      bottom: 20px;
      right: 20px;
      z-index: 1;
      color: settings.$color-primary;
      height: 300px;
      width: 300px;
    }

    .stack {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      z-index: 2;

      .card {
        padding: 20px 30px;
        border-radius: 20px;
        margin: 10px;
        transition: settings.$transition_0_3;
        background-color: settings.$color-background-light;

        &:hover {
          transform: scale(1.07);

          h3 {
            color: settings.$color-text-primary;
            transform: scale(1.1);
          }
        }

        h3 {
          font-size: 1.5rem;
          font-weight: 700;
          color: settings.$color-text-dark;
          margin: 0;
          transition: settings.$transition_0_3;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .my_stack {
    .wrapper {
      .wrapper_title {
        padding: 0px 20px;
      }
      padding: 70px 0px;
      .stack .card {
        padding: 15px 20px;

        h3 {
          font-size: 1.2rem;
        }
      }
    }
  }
}
