// MyStack.scss
@use '../../../../styles/settings.scss' as settings;

.my-stack__wrapper {
  background-color: settings.$color-background-dark;

  &::after {
    content: '';
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 300px;
    background-image: url('/images/kropki_512-512.webp');
    z-index: 1;
  }

  .group {
    background-color: settings.$color-background-light;

    &:hover > h3 {
      color: settings.$color-primary;
    }
  }
}
