@use '../../styles/settings.scss' as settings;

.contact {
  margin: 200px 0;
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;

    .form_wrapper {
      flex: calc(50% - 20px);
      background-color: settings.$color-background-dark;
      padding: 40px 60px;
      color: settings.$color-text-light;

      h3 {
        font-size: 2rem;
        margin: 0 0 20px 0;
        font-weight: settings.$font-weight-bold;
      }

      .form {
        .form_group {
          margin-bottom: 20px;

          label {
            font-size: 0.8rem;
            margin-bottom: 1px;
          }
        }

        .button {
          border-radius: 5px;
          border: 1px solid settings.$color-background-primary;
          font-size: 1rem;
          background-color: unset;
          width: fit-content;
          text-transform: uppercase;
          padding: 10px 20px;
          color: settings.$color-text-light;
          text-decoration: none;
          margin-left: 50%;
          transform: translateX(-50%);

          &:hover {
            color: settings.$color-text-primary;
            border: 1px solid settings.$color-text-primary;
          }
        }

        .dark {
          border: 1px solid settings.$color-background-dark;
          color: settings.$color-text-dark;

          &:hover {
            background-color: settings.$color-background-dark;
            color: settings.$color-text-primary;
          }
        }
      }
    }

    .info_wrapper {
      flex: calc(50% - 20px);

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;

        .info_item {
          text-align: center;
          margin-bottom: 50px;

          svg {
            font-size: 45px;
          }

          p {
            font-size: 1rem;
            margin: 10px 0;
            font-size: 24px;
          }

          a {
            text-decoration: none;
            color: settings.$color-text-dark;

            &:hover {
              color: settings.$color-text-primary;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .contact {
    margin: 200px 0 100px 0;
  }
}
