@use '../../../../styles/settings.scss' as settings;

.LPAction {
  background-color: settings.$color-background-dark;
  padding: 80px 0;
  position: relative;
  background-image: url('/images/baner-01.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 1.7rem;
      font-weight: settings.$font-weight-bold;
      color: settings.$color-text-light;
      text-transform: uppercase;
      margin-bottom: 1rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1rem;
      color: settings.$color-text-light;
      margin-bottom: 50px;
    }

    & > a {
      margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  .LPAction {
    background-image: url('/images/baner_mobile.webp');
  }
}
