@use '../../../../styles/settings.scss' as settings;

.site_form .form-check-input {
  margin-right: 0.5rem;
  border-radius: 2em !important;
  width: 2.5em;
}

.site_form .form-check-label {
  font-size: 15px !important;
}

.site_form .form-label {
  font-size: 15px !important;
  margin-bottom: 5px !important;
}

.site_form .form-check {
  margin-bottom: 0.6rem;
}

.site_form .option {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.site_form .form-check-input:hover {
  cursor: pointer;
}

.site_form .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23ffbf00'/%3e%3c/svg%3e") !important;
  border-color: settings.$color-background-primary !important;
}

.site_form .form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 191, 0, 0.25) !important;
}

.site_form .form-control:focus {
  border-color: settings.$color-background-primary !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 191, 0, 0.25) !important;
}

@media (max-width: 768px) {
  .site_form .form-check-label {
    flex: 93%;
  }

  .site_form .form-check-input {
    height: 1.6em;
    flex: 7%;
  }

  .site_form .form-check {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .site_form .form-check-label {
    flex: 90%;
  }

  .site_form .form-check-input {
    flex: 10%;
  }
}
