@use '../../../../styles/settings.scss' as settings;

.action {
  margin-top: 50px;
  margin-bottom: -135px;
  background-color: settings.$color-background-primary;
  padding: 50px;

  &::before {
    content: '';
    background-image: url('/images/bg-overlay.webp');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-position: 100% 100%;
    top: -0px;
    left: -0px;
    right: -0px;
    bottom: -0px;
    opacity: 0.1;
  }

  .right_side {
    &:hover {
      transform: scale(1.1);
    }

    a {
      svg {
        color: settings.$color-text-light;
        margin-right: 1rem;
        margin-left: auto;
        width: 100px;
        height: auto;
      }

      .text {
        font-size: 1.2rem;
        font-weight: settings.$font-weight-bold;
        color: settings.$color-text-dark;
        text-transform: uppercase;
      }
    }
  }
}

.bottom {
  margin-bottom: -300px;
}

.action2 {
  background-color: settings.$color-background-dark;
  background-image: url('/images/baner-01.webp');

  .wrapper {
    & > a {
      margin: 0 auto;
    }
  }
}

@media (max-width: 992px) {
  .action {
    flex-direction: column;
    padding: 20px;

    .left_side {
      h3 {
        font-size: 1rem;
      }

      h4 {
        font-size: 1.5rem;
      }
    }

    .right_side {
      a {
        svg {
          font-size: 5rem;
        }

        .text {
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .action {
    flex-direction: column;
    padding: 20px;
    .left_side {
      h3 {
        font-size: 1rem;
      }

      h4 {
        font-size: 1.5rem;
      }
    }

    .right_side {
      a {
        svg {
          font-size: 5rem;
        }

        .text {
          font-size: 1rem;
        }
      }
    }
  }

  .action2 {
    background-image: url('/images/baner_mobile.webp');
  }
}
