@import '../../styles/settings.scss';

.article_list {
  min-height: 700px;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;

    .card {
      flex: 30%;
      max-width: 400px;
      margin: 20px;
    }
  }
}
