@use '../../../styles/settings.scss' as settings;

.sections_title {
  text-align: center;
  margin-bottom: 140px;
  position: relative;
  z-index: 1;
  line-height: 3rem;

  .background_text {
    position: absolute;
    top: -50px;
    left: -100px;
    width: 100%;
    height: 100%;
    font-size: 10rem;
    font-family: settings.$font-header;
    color: settings.$color-text-primary;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
    z-index: -1;
    font-weight: settings.$font-weight-black;

    span {
      opacity: 0.1;
    }

    &.sections_title_white {
      color: settings.$color-text-light;

      span {
        opacity: 0.03;
      }
    }
  }

  h2 {
    font-size: 2.5rem;
    font-weight: settings.$font-weight-extrabold;
    color: settings.$color-text-dark;
    text-transform: uppercase;
    margin-bottom: 1rem;
    position: relative;
    z-index: 1;
    text-shadow: settings.$text-shadow;
  }

  .color_primary {
    color: settings.$color-primary;
  }

  p {
    color: settings.$color-text-dark;
    margin-bottom: 1rem;
  }

  .sections_title_white {
    color: settings.$color-text-light;

    p {
      color: settings.$color-text-light;
    }

    .highlighted-text::before {
      content: none;
    }
  }
}

@media (max-width: 1120px) {
  .sections_title {
    position: relative;
    .background_text {
      font-size: 8rem;
      top: -40px;
      left: -75px;
      letter-spacing: normal;
      position: absolute;
    }
  }
}

@media (max-width: 768px) {
  .sections_title {
    .background_text {
      font-size: 6.5rem;
      top: -30px;
      left: -50px;
    }

    h2 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 550px) {
  .sections_title {
    .background_text {
      font-size: 4.5rem;
      top: -20px;
      left: -15px;
    }
  }
}
