@import '../../styles/settings.scss';

.header {
  background-color: $color-background-dark;
  position: relative;

  .video {
    height: 90vh;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
  }

  .content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $color-text-light;
    z-index: 1;

    .title {
      .titlePart {
        font-size: 1rem;
        line-height: 7;
      }

      .titleName {
        font-size: 5rem;
        font-weight: $font-weight-extrabold;
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: 0.5rem;

        .firstLetter {
          font-size: 130%;
          letter-spacing: 0rem;
        }
      }
    }

    .subtitle {
      font-size: 1.7rem;
      margin-top: 2rem;
      line-height: 3rem;
      letter-spacing: 0.2rem;

      .textVariable {
        font-weight: $font-weight-bold;
      }
    }
  }
}
