@import './settings.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  margin: 0;
  padding: 0;
  color: $color-text-dark;
  line-height: 1.7;
  letter-spacing: 0.5px;
  overflow-y: scroll;
  min-height: 100vh;

  overflow-x: hidden;
}

.color_primary {
  color: $color-primary !important;
}

.separator {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100px;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    background-color: $color-primary;
  }
}

@import './typography.scss';

