@use './settings.scss' as settings;
@use './typography.scss' as typography;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.tl-edges {
  overflow-x: unset;
}

html {
  font-size: 16px;
  overflow-x: hidden !important;

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  label {
    font-size: 0.8rem;
    margin-bottom: 1px;
  }

  label {
    font-size: 0.9rem;
    margin-bottom: 10px;
    color: settings.$color-text-light;
  }

  input {
    padding: 10px;
    border-radius: 5px;
    background-color: settings.$color-background-light !important;
  }

  select {
    padding: 10px;
    border-radius: 5px;
    background-color: settings.$color-background-light !important;
  }
}

body {
  margin: 0;
  padding: 0;
  color: settings.$color-text-dark;
  line-height: 1.7;
  letter-spacing: 0.5px;
  min-height: 100vh;
  overflow-x: hidden !important;
  font-family: settings.$font-body;
}

em {
  font-style: normal;
}

.color_primary {
  color: settings.$color-primary !important;
}

.separator {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100px;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    background-color: settings.$color-primary;
  }
}

.no_button a {
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0;
  text-decoration: none;
}

.highlighted-text {
  position: relative;
  display: inline-block;
  margin-left: 15px;
  z-index: 1;
}

.highlighted-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: -15%;
  width: 140%;
  height: 100%;
  background-image: url('/svg/TextBackground.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: -1;
  border-radius: 100px;
}

@media (max-width: 768px) {
  html {
    font-size: 15px;

    textarea {
      font-size: 16px !important;
    }

    input {
      font-size: 16px !important;
    }

    .highlighted-text::before {
      left: -10%;
      width: 130%;
    }
  }
}

