@use './settings.scss' as settings;
@use './typography.scss' as typography;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

html {
  font-size: 16px;
  overflow-x: hidden !important;

  label {
    font-size: 0.8rem;
    margin-bottom: 1px;
  }

  input,
  textarea {
    background-color: settings.$color-background-light;
    border: 1px solid settings.$color-background-light;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    color: settings.$color-text-dark;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
      border: 1px solid settings.$color-text-light;
      background-color: settings.$color-background-light;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  color: settings.$color-text-dark;
  line-height: 1.7;
  letter-spacing: 0.5px;
  overflow-y: scroll;
  min-height: 100vh;
  overflow: auto;
  font-family: settings.$font-body;
}

em {
  font-style: normal;
}

.color_primary {
  color: settings.$color-primary !important;
}

.separator {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100px;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    background-color: settings.$color-primary;
  }
}

.no_button a {
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0;
  text-decoration: none;
}

@media (max-width: 768px) {
  html {
    font-size: 15px;

    textarea {
      font-size: 16px !important;
    }

    input {
      font-size: 16px !important;
    }
  }
}

