@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/Poppins-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('/fonts/Poppins-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: url('/fonts/Poppins-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
}

$color-primary: #ffbf00;

$color-secondary: #191919;

$color-secondary-light: #191d28;

$color-text-dark: #141414;
$color-text-dark-light: #1b1b1b;
$color-text-light: #e7e7e7;
$color-text-light-dark: #bbbaba;
$color-text-danger: #ff0000;
$color-text-success: #00ff00;
$color-text-primary: $color-primary;
$color-text-secondary: $color-secondary;

$color-border-light: #e5e7eb;

$color-background-light: #ffffff;
$color-background-lighter: #f7f7f7;
$color-background-dark: $color-secondary;
$color-background-primary: $color-primary;

$font-header: 'Poppins', sans-serif;
$font-body: 'Inter', serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$transition_0_3: all 0.3s ease-in-out;

$text-shadow: 1px 1px 1px rgba(66, 68, 90, 0.5);

