@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/raleway-regular-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/raleway-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('/fonts/raleway-extrabold-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/merriweather-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/merriweather-bold.woff2') format('woff2');
}

$color-text-dark: #141414;
$color-text-light: #ffffff;
$color-text-danger: #ff0000;
$color-text-primary: #ffbf00;

$color-primary: #ffbf00;

$color-background-light: #ffffff;
$color-background-lighter: #f7f7f7;
$color-background-dark: #191d28;
$color-background-primary: #ffbf00;

$font-header: 'Raleway', sans-serif;
$font-body: 'Merriweather', serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

