@use '../../../styles/settings.scss' as settings;

.menu_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem 0;
  gap: 2rem;
  position: relative;

  & > a > svg {
    width: 1.7rem;
    height: 1.7rem;
    margin-bottom: 10px;
  }

  .dropdown {
    position: relative;

    .dropdown_toggle {
      padding: 0;
      margin: 0;
      background-color: transparent;
      border: none;
      color: settings.$color-text-light;
      font-size: 1.2rem;
      margin: 0.1rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      display: flex;

      &:hover {
        color: settings.$color-text-primary;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 10px;
      }
    }

    .dropdown_menu {
      background-color: rgba(25, 29, 41, 0.75);
      border-top: 3px solid settings.$color-primary;
      padding: 1rem 1.5rem;
      margin: 0;
      width: max-content;
      position: absolute;
      top: 150%;
      left: -20px;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border-radius: 10px;
    }
  }

  a {
    color: settings.$color-text-light;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    margin: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

    &:hover {
      color: settings.$color-text-primary;
    }
  }
}

.activeMenuItem {
  color: settings.$color-text-primary !important;
  background-color: unset !important;
}
