@use '../../../styles/settings.scss' as settings;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  &.scrolled {
    background: rgba(25, 29, 41, 0.65);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu_wrapper {
      display: flex;
      flex-direction: column;

      .lang {
        display: flex;
        justify-content: flex-end !important;

        & > a {
          margin-left: 10px;
          color: settings.$color-text-light;
          font-weight: settings.$font-weight-bold;
          font-size: 0.9rem;
          text-decoration: none;
        }

        & > a.active {
          color: settings.$color-primary;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .menu_wrapper {
    flex-direction: row;
  }
}
