@use '../../../../styles/settings.scss' as settings;

.site_info {
  .wrapper {
    display: flex;
    margin-top: -110px;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
    border-radius: 20px;
    box-shadow: settings.$box-shadow;

    .first_column {
      flex: 1;
      padding: 2rem;
      background-color: settings.$color-background-primary;
      border-radius: 20px 0 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;

      h3 {
        font-weight: settings.$font-weight-bold;
      }

      & > a {
        margin: 0 auto;
      }
    }

    .second_column {
      flex: 1;
      padding: 2rem;
      background-color: settings.$color-background-lighter;
      border-radius: 0 20px 20px 0;
      display: flex;
      flex-direction: column;

      .card {
        background-color: settings.$color-background-light;
        border-radius: 20px;
        padding: 1rem;
      }

      .first_card {
        text-align: left;
      }

      .second_card {
        text-align: right;

        a {
          color: settings.$color-text-primary;
          font-weight: settings.$font-weight-bold;
          text-decoration: none;
          transition: color 0.3s;
          text-transform: uppercase;
          // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.659);
          letter-spacing: 2px;

          &:hover {
            color: settings.$color-primary;
          }
        }
      }
    }
  }

  .banner {
    margin-top: 100px;
    background-color: settings.$color-background-primary;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    box-shadow: settings.$box-shadow;
  }
}

@media (max-width: 1920px) {
  .site_info {
    .wrapper {
      margin-top: -100px;
    }
  }
}

@media (max-width: 992px) {
  .site_info {
    .wrapper {
      flex-direction: column;

      .first_column {
        border-radius: 20px 20px 0 0;
      }

      .second_column {
        border-radius: 0 0 20px 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .site_info {
    .wrapper {
      .first_column {
        h3 {
          font-size: 1.5rem;
        }

        h4 {
          font-size: 1.2rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    .banner {
      font-size: 0.5rem;
      text-align: center;
    }
  }
}
