@use '../../styles/settings.scss' as settings;

.site_info {
  .wrapper {
    display: flex;
    margin-top: -80px;
    margin-bottom: 0;
    z-index: 1;
    position: relative;

    .first_column {
      flex: 1;
      padding: 2rem;
      background-color: settings.$color-background-primary;
      border-radius: 20px 0 0 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;

      h3 {
        font-weight: settings.$font-weight-bold;
      }
    }

    .second_column {
      flex: 1;
      padding: 2rem;
      background-color: settings.$color-background-lighter;
      border-radius: 0 20px 20px 0;
      display: flex;
      flex-direction: column;

      .first_card {
        text-align: left;
      }

      .second_card {
        text-align: right;
      }
    }
  }
}

.one_column {
  .wrapper {
    .first_column {
      border-radius: 20px;
    }

    .second_column {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .site_info {
    .wrapper {
      flex-direction: column;

      .first_column {
        border-radius: 20px 20px 0 0;
      }

      .second_column {
        border-radius: 0 0 20px 20px;
      }
    }
  }

  .one_column {
    .wrapper {
      .first_column {
        border-radius: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .site_info {
    .wrapper {
      .first_column {
        h3 {
          font-size: 1.5rem;
        }

        h4 {
          font-size: 1.2rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}
