@use '../../../styles/settings.scss' as settings;

.header {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url('/images/text-hero.webp') no-repeat center calc(75%);
    opacity: 0.05;
    z-index: 0;
  }

  @media (max-width: 1920px) {
    background-image: url('/images/hero_2_1600px.webp');
  }

  /* zmiana tła na mobile */
  @media (max-width: 1000px) {
    background-image: url('/images/hero_2_mobile.webp');
    .logo {
      display: none;
    }
  }

  .content h1 .line {
    margin-top: 10px;
    height: 8px;
    border-radius: 25px;
    background: linear-gradient(104.74deg, settings.$color-text-primary, darken(settings.$color-text-primary, 15%));
    -webkit-text-stroke: 0.6px rgba(0, 0, 0, 0.35);
    max-width: 750px;
    /* Delikatny cień „na zewnątrz” kształtu liter */
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
  }

  /* gradientowe napisy */
  .title {
    background: linear-gradient(104.74deg, settings.$color-text-primary, darken(settings.$color-text-primary, 15%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* Cienki obrys, nie ściemnia wypełnienia */
    -webkit-text-stroke: 0.6px rgba(0, 0, 0, 0.35);

    /* Delikatny cień „na zewnątrz” kształtu liter */
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
  }

  .title-light {
    background: linear-gradient(104.74deg, settings.$color-text-light, darken(settings.$color-text-light, 15%));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    /* Cienki obrys, nie ściemnia wypełnienia */
    -webkit-text-stroke: 0.6px rgba(0, 0, 0, 0.35);

    /* Delikatny cień „na zewnątrz” kształtu liter */
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.25));
  }
}

@media (max-width: 1200px) {
  .header {
    .title {
      font-size: 3.5rem;
    }

    .subtitle {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 880px) {
  .header {
    height: 600px;

    &::before {
      display: none;
    }

    .title {
      font-size: 2.5rem;
    }

    .subtitle {
      font-size: 1rem;
    }

    .content h1 .line {
      height: 5px;
    }
  }
}

@media (max-width: 650px) {
  .title {
    line-height: 1.1;
  }
}
