@use '../../../styles/settings.scss' as settings;

.header {
  background-color: settings.$color-background-dark;
  position: relative;
  height: 95vh;
  background-image: url('/images/hero_2.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    background-image: url('/images/text-hero.webp');
    background-repeat: no-repeat;
    background-position: center calc(75%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.05; /* Ustawienie przezroczystości tła */
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 120px;
    background-image: url('/images/shape2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    bottom: -10px;
    left: 0;
    z-index: 1;
  }

  .logo {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
  }

  .content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 3rem;
      font-weight: settings.$font-weight-extrabold;
      text-transform: uppercase;
      line-height: 1.2;
      letter-spacing: 0.3rem;
      text-wrap: nowrap;

      .title_top {
        background: linear-gradient(
          90deg,
          settings.$color-text-primary,
          settings.$color-text-dark-light
        ); /* Gradient od żółtego do czarnego */
        -webkit-background-clip: text; /* Działa w przeglądarkach WebKit (Chrome, Safari) */
        background-clip: text; /* Ustawienie tła na tekst */
        color: transparent; /* Tekst przezroczysty, gradient wypełnia litery */
      }

      .title_bottom {
        background: linear-gradient(
          90deg,
          settings.$color-text-dark-light,
          settings.$color-text-primary
        ); /* Gradient od czarnego do żółtego */
        -webkit-background-clip: text; /* Działa w przeglądarkach WebKit (Chrome, Safari) */
        background-clip: text; /* Ustawienie tła na tekst */
        color: transparent; /* Tekst przezroczysty, gradient wypełnia litery */
      }
    }

    .subtitle {
      font-size: 1.4rem;
      margin-top: 2rem;
      line-height: 1.2;
      letter-spacing: 0.2rem;
      color: settings.$color-text-light-dark;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 1000px) {
  .header {
    background-image: url('/images/hero_2_mobile.webp');

    .logo {
      display: none;
    }

    .content {
      .title {
        font-size: 2.5rem;
      }

      .subtitle {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width: 880px) {
  .header {
    background-image: url('/images/hero_2_mobile.webp');
    height: 600px;

    &:before {
      display: none;
    }

    .logo {
      display: none;
    }

    .content {
      top: 50%;

      .title {
        font-size: 2rem;
      }

      .subtitle {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 650px) {
  .header {
    .logo {
      display: none;
    }
    .content {
      width: auto;
      .title {
        line-height: 1.1;
      }
    }
  }
}
