@import '../../styles/settings.scss';

.myServices {
  background-color: $color-background-dark;
  margin: 150px 0;
  padding: 100px 0 10px;

  .info {
    display: flex;
    margin: 120px 0 100px;

    .icon {
      font-size: 2.5rem;
      color: $color-primary;
      margin-right: 2rem;
    }

    .content {
      flex: 70%;
      h3 {
        font-size: 1.2rem;
        font-weight: $font-weight-extrabold;
        color: $color-text-light;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      p {
        color: $color-text-light;
        margin-bottom: 2rem;
      }
    }
  }
}
