.nav-underline .nav-link.active {
  background-color: #ffbf00;
  border-color: #ffbf00;
  color: #141414 !important;
  position: relative;
}

.nav-underline .nav-link.active:hover {
  color: #141414 !important;
}

.nav-underline .nav-link:hover {
  color: #ffbf00 !important;
}

.nav-underline .nav-link.active::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  z-index: 1;
  border: 16px solid transparent;
  left: 99%;
  top: 50%;
  transform: translateY(-50%);
  border-left-color: #ffbf00; /* Kolor dla lewej strony (strzałka skierowana w prawo) */
  border-left-style: solid;
  border-right: 0; /* Usunięcie prawej krawędzi */
}

.tab-content {
  flex: 3;
}
