@use '../../../../styles/settings.scss' as settings;

.faq {
  padding: 100px 0;
  background-color: settings.$color-background-lighter;

  .wrapper {
    .accordion_wrapper {
      max-width: 900px;
      margin: 0 auto;
    }
  }
}
