@use '../../../../styles/settings.scss' as settings;

.faq .accordion-item {
  background-color: settings.$color-background-light;
  border: none;
  margin-bottom: 20px;
}

.faq .accordion-item .accordion-header .accordion-button {
  border-radius: 20px !important;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.faq .accordion-item .accordion-header .accordion-button:hover {
  color: settings.$color-text-primary;
}

.faq .accordion-button:not(.collapsed):hover {
  color: settings.$color-text-dark;
}

.faq .accordion-button:not(.collapsed) {
  color: settings.$color-text-primary;
  background-color: settings.$color-background-light;
  box-shadow: none;
}

.faq .accordion-button:focus {
  box-shadow: none;
}
