@use '../../../../../styles/settings.scss' as settings;

.accordion_button {
  background-color: settings.$color-background-light;

  &[aria-expanded='false']:hover {
    transform: translateY(-3px);

    h3 {
      color: settings.$color-primary;
    }

    svg {
      color: settings.$color-primary;
    }
  }

  // Gdy otwarte
  &[aria-expanded='true'] {
    background-color: settings.$color-background-primary;
    color: settings.$color-text-dark;

    &:hover {
      background-color: settings.$color-background-primary;
      transform: translateY(-3px);
    }
  }

  h3 {
    color: settings.$color-text-dark;
  }
}

.accordion_title {
  color: settings.$color-primary;
  line-height: 1.3;
}

.accordion_paragraph {
  color: settings.$color-text-light;

  &:last-of-type {
    margin-bottom: 50px;
  }
}

@media (max-width: 992px) {
  .accordion_title {
    line-height: 1.2 !important;
  }
}
