@use '../../../../styles/settings.scss' as settings;

.services_info {
  .wrapper {
    .card {
      img {
        border: 10px solid settings.$color-background-dark;
      }
    }

    .down {
      padding-top: 70px;
    }

    .up {
      padding-bottom: 70px;
    }
  }
}

@media (max-width: 992px) {
  .services_info {
    .wrapper {
      .card {
        max-width: 300px;
      }
    }
  }
}

@media (max-width: 768px) {
  .services_info {
    .wrapper {
      flex-direction: column;
      align-items: center;
      gap: 30px;

      .card {
        max-width: 250px;
      }

      .down,
      .up {
        padding: 0;
      }
    }
  }
}
