@use '../../../../styles/settings.scss' as settings;

.services_info {
  background-color: settings.$color-background-lighter;
  padding: 100px 0;
  margin-top: 50px;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    padding-bottom: 50px;

    .card {
      max-width: 330px;

      img {
        border: 10px solid settings.$color-background-dark;
      }

      .card_text {
        padding: 20px;

        h3 {
          font-size: 1.3rem;
          margin: 20px 0;
        }

        p {
          font-size: 0.9rem;
        }
      }
    }

    .down {
      padding-top: 70px;
    }

    .up {
      padding-bottom: 70px;
    }
  }
}

@media (max-width: 992px) {
  .services_info {
    .wrapper {
      .card {
        max-width: 300px;
      }
    }
  }
}

@media (max-width: 768px) {
  .services_info {
    .wrapper {
      flex-direction: column;
      align-items: center;
      gap: 30px;

      .card {
        max-width: 250px;
      }

      .down,
      .up {
        padding: 0;
      }
    }
  }
}
