@use '../../../../styles/settings.scss' as settings;

.card {
  max-width: 400px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;

  .card_body {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: settings.$color-background-light;

    h3 {
      font-size: 1.5rem;
      margin: 0 0 8px;
    }

    p {
      font-size: 1rem;
      margin: 0 0 20px;
    }

    & > a {
      text-decoration: none;
      margin: auto auto 0;
      color: settings.$color-text-secondary;
      text-transform: uppercase;

      &:hover {
        color: settings.$color-text-primary;
      }
    }
  }
}

@media (max-width: 992px) {
  .card {
    flex: 100%;
  }
}
