@use '../../../../styles/settings.scss' as settings;

.process-time-line {
  background: settings.$color-background-light;
  background: linear-gradient(180deg, settings.$color-background-light 0%, settings.$color-background-lighter 100%);

  .vertical-timeline::before {
    background: settings.$color-border-light;
  }

  .vertical-timeline-element {
    .vertical-timeline-element-content {
      box-shadow: 0 3px 0 #232129;
    }

    &:last-of-type {
      .vertical-timeline-element-content {
        box-shadow: none;
      }
    }
  }
}
