.myservice_accordion .accordion-item {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
}

.myservice_accordion .accordion-item .accordion-header .accordion-button {
  border-radius: 20px !important;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.myservice_accordion .accordion-item .accordion-header .accordion-button:hover {
  color: #ffbf00;
}

.myservice_accordion .accordion-button:not(.collapsed):hover {
  color: #191d28 !important;
}

.myservice_accordion .accordion-button:not(.collapsed) {
  color: #191d28;
  background-color: #ffbf00;
  box-shadow: none;
}

.myservice_accordion .accordion-button:focus {
  box-shadow: none;
}
