@use '../../../styles/settings.scss' as settings;

.myServices {
  background-color: settings.$color-background-dark;
  margin: 150px 0 0;
  padding: 100px 0 10px;

  .info {
    display: flex;
    margin: 140px 0 100px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 90%;
      top: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      background-color: settings.$color-primary;
    }

    .icon {
      font-size: 2.5rem;
      color: settings.$color-primary;
      margin-right: 2rem;
    }

    .content {
      flex: 70%;
      h3 {
        font-size: 1.2rem;
        font-weight: settings.$font-weight-extrabold;
        color: settings.$color-text-light;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      p {
        color: settings.$color-text-light;
        margin-bottom: 2rem;
      }
    }
  }
}
