@import '../../styles/settings.scss';

.testiniomals {
  background-image: url('/images/bg-002-free-img.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0;
  margin: 50px 0 100px;

  .title {
    display: flex;
  }

  .wrapper {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-end;

    .testimonial {
      max-width: 600px;
      margin: 10px 0;
      border-top: 2px solid $color-background-lighter;

      .testimonial_stars {
        color: $color-primary;
        padding-top: 20px;
      }

      .testimonial_text {
        color: $color-text-light;
        margin: 20px 0;

        p:nth-child(2) {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .testiniomals {
    background-attachment: scroll;

    .title {
      justify-content: center;
    }

    .wrapper {
      align-items: center;
      max-width: unset;
    }
  }
}
