@use '../../styles/settings.scss' as settings;

.website_functions {
  padding: 100px 0;

  .wrapper {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;

    .item {
      flex: 33.3333%;
      padding: 0 20px;
      margin-bottom: 30px;
      text-align: center;

      .image {
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .text h3 {
        margin-bottom: 20px;
      }

      &:hover {
        transform: scale(1.1);
        transition: settings.$transition_0_3;
      }
    }
  }
}
@media (max-width: 600px) {
  .website_functions {
    .wrapper {
      .item {
        flex: 100%;
        padding: 0 30px;
      }
    }
  }
}
