@use '../../../../styles/settings.scss' as settings;

.compare-cms-static {
  .info-choose {
    &::after {
      content: '';
      position: absolute;
      width: 90%;
      top: -1.5rem;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      background-color: settings.$color-primary;
    }
  }

  .accordion-content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.6s ease, opacity 0.6s ease;
  }

  .accordion-content.open {
    max-height: 1000px; // wystarczająco duże, żeby objęło tekst
    opacity: 1;
    padding: 16px 16px;
  }
}
